*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* utils */
.container{
    padding: 0 150px;
}
h1{
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 1.2;
}
h2{
    font-size: 38px;
    line-height: 1.4;
}
h3{
    color:#333;
    font-size: 1.63rem;
    font-weight: 400;
    line-height: 1.5;
    text-transform: none;
}
h4{
    font-size: 1.4rem;
    color: white;
}
p{
    /* color: #333; */
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
    letter-spacing: 1px;
}
.logo{
    width: 190px;
    height: 70px;
    margin: 20px;
}
.text-center{
    text-align: center;
}
.grey{
    background-color: rgb(206, 206, 206);
}

/* page style */
.header{
    background-image: url("./assets/hero_bg.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    margin-bottom: 80px;
}
.navbar{
    padding: 10px 30px 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    padding: 10px;
    display: flex;
    list-style: none;
    gap: 30px;

}
.nav-list-items{
    color: white;
    text-decoration: none;
    padding: 8px;
}
.heading{
    height: 300px;
}
.solution{
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 80px; */
}
.solution-box{
    padding: 0 150px;
}
.img-box{
    margin: 50px 180px;
    width:30%;
    height: 30%;
}
.benefits{
    margin: 150px 20px;
}
.all-benefit{
    display: flex;
    margin: 50px 50px;
    padding: 50px 50px;
    justify-content: space-evenly;
    gap:80px;
}
.under-line{
    /* border: black 2px solid;
    border-style: groove;
    width: 150px;
    height: 2px;
    position: relative;
    left: 45%; */
    width: 80px;
    height: 4px;
    background: #333;
    margin: 10px auto 0;
}
.benefit-img{
    width: 44%;
    height: 40%;
   
}
.QNA{
    display: flex;
    align-items: center;
    padding-top: 20px;
    background-color: gray;
}
.QNA-img{
    width: 15%;
    height: 20%;
}
.footer{
    background-color: black;
    color: white;
    padding: 20px;
}
.footer-grid{
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
        "logo links inputs"
        "adress links inputs"
        "media .  .";
    grid-template-rows: 0.5fr 0.4fr 0.2fr;
    grid-template-columns: 0.3fr 1fr 1.5fr;
column-gap: 230px;
justify-content: space-evenly;
   
}
.footer-logo{
    grid-area: logo;
}
.adress{
    grid-area: adress;
    margin-left: 20px;
}
.f-icon{
    margin: 5px 5px 5px 0;
    font-size:large;
}
.media{
    grid-area: media;
    margin-left: 10px;
    padding: 5px;
    font-size:xx-large;
}
.links{
    margin-top: 20px;
    grid-area: links;
}
.footer-list{
    margin-top: 20px;
}
.links-list{
    padding: 5px 0;
    list-style: none;
}
.footer-list-items{
    padding: 5px;
    text-decoration: none;
    color: white;
}
.email-signup{
    grid-area: inputs;
    margin-top: 20px;

}
.footer-input{
    height: 50px;
    margin-bottom: 20px;
    padding: 5px 50px 5px 20px;
    border-radius: 28px;
    font-weight: 700;
    font-size: larger;
}
.copyright{
    background-color: rgb(15, 15, 15);
}